<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- System.out appender -->
  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>

  <!-- Log file appender -->
  <appender name="LogFileAppender" class="org.apache.log4j.FileAppender">
    
    <!-- Set your log file name here if you want -->
    <param name="File" value="logs/aerodrome.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
          value="%d{dd MMM yyyy HH:mm:ss,SSS} {%t} %-5p %c %x - %m%n" />
    </layout>
  </appender>

  <!--
  <logger name="com.sheepguru.aerodrome">
      <level value="DEBUG" />      
  </logger>
  -->

  <!-- Main logging -->
  <root>
    <!-- Set log level -->
    <priority value="trace" />
    
    <!-- Write everything to the console -->
    <appender-ref ref="Console" />
    
    <!-- Write everything to the log file -->
    <appender-ref ref="LogFileAppender" />
  </root> 
</log4j:configuration>